# Git
.git
.github
.gitignore

# Nx
.nx/cache
dist
tmp

# Node
node_modules

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Misc
.env
.env.*
!/.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
